/**************************home.html styling***************************/

#topBackground {
    background: url('../images/dark_wood.png');
    color: white;
    position: relative;
}

.s12 {
    width: 100%;
}

.tiny {
    font-size: 15px !important;
    margin-right: 12px;
    transform: translateY(8%);
}

.headerContent {
    padding-top: 25px;
    margin-left: 100px;
    margin-right: 100px;
}

.signIn {
    margin-left: 10px;
}

.signIn,
.signUp {
    border: white !important;
    border-style: solid !important;
    border-width: 1px !important;
    line-height: 30px;
}

.logo {
    font-family: 'Bowlby One', cursive;
    font-size: 24px;
}

.sloganDiv {
    padding-top: 100px;
    padding-bottom: 200px;
}

.title {
    font-family: 'Bowlby One', cursive;
    font-style: italic;
}

.textUnderTitle {
    font-size: 22px;
}

.home-dash-ss {
    width: 600px;
    height: 350px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.40), 0 15px 12px rgba(0, 0, 0, 0.22);
}

#dashPicContainer {
    position: absolute;
    width: 100%;
    bottom: 5%;
}

.textUnderPic {
    height: 300px;
    font-family: 'Caveat Brush', cursive;
    padding-top: 200px;
    color: #757575;
}

#howItWorksDiv {
    background: url('../images/nice_snow.png');
    padding-top: 50px;
    padding-bottom: 50px;
}

#getStartedBtn {
    border-color: black !important;
    border-style: solid;
    border-width: 1px;
}

#getStartedBtn:hover {
    color: white !important;
    background: black !important;
}

.howToCards {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

#feedbackDiv {
    background: url('../images/dark_wood.png');
    padding-top: 100px;
    padding-bottom: 100px;
}

#feedbackBtn {
    border: white !important;
    border-style: solid !important;
    border-width: 1px !important;
}

#feedbackBtn:hover,
.signIn:hover,
.signUp:hover {
    background: white !important;
    color: black !important;
}

/**************************login/register.html styling***************************/

.loginCardDiv,
.registerCardDiv {
    margin-top: 20px;
}

#loginCard,
#registerCard,
#dashboardCard,
#notesCard,
#addNoteCard,
#messagesCard {
    background: url('../images/dark_wood.png');
}

.loginTopPanel,
.registerTopPanel,
.dashboardTopPanel,
.notesTopPanel,
.cmsTopPanel,
.messagesTopPanel {
    font-family: 'Bowlby One', cursive;
    font-size: 20px;
    margin-bottom: 20px;
}

.topPanelLink {
    color: #90caf9 !important;
}

#loginTheUser,
#registerTheUser {
    border-style: solid;
    border-width: 1px;
    border-color: white;
}

#loginTheUser:hover,
#registerTheUser:hover {
    color: black !important;
    background: white !important;
}

.inputCard {
    border-radius: 3%;
}

.loginBottomPanel,
.registerBottomPanel {
    border-top-style: solid;
    border-top-color: white !important;
    border-top-width: .5px !important;
}

#userEmail:focus,
#userPassword:focus,
#newUserFirstName:focus,
#newUserLastName:Focus,
#newUserEmail:focus,
#newUserUsername:focus,
#newUserPassword:focus,
#newEntryTitle:focus,
#newEntrySubject:focus,
#newNoteTitle:focus,
#newNoteDate:focus,
#newNoteBody:focus,
.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid #90caf9;
    -webkit-box-shadow: 0 1px 0 0 #90caf9;
    -moz-box-shadow: 0 1px 0 0 #90caf9;
    box-shadow: 0 1px 0 0 #90caf9;
}

#feedback-name:focus,
#feedback-email:focus,
#feedback-body:focus {
    border-bottom: 1px solid black;
    -webkit-box-shadow: 0 1px 0 0 black;
    -moz-box-shadow: 0 1px 0 0 black;
    box-shadow: 0 1px 0 0 black;
}

.prefix.active {
    color: #90caf9!important;
}


.active {
    color: white!important;
}

.logInAndForgot {
    margin-bottom: 0px;
}

.whiteCardPanelLogin {
    padding-top: 5px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.bottomRowOfWhitePanel {
    transform: translateY(-28%);
}

#userPassword {
    margin-top: 0px !important;
}

#loginCardContent,
#registerCardContent {
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}

#registerCardContent {
    height: 475px !important;
}

#loginCardContent {
    height: 300px !important;
}


/**************************dashboard.html styling***************************/

.userNameDisplay {
    font-family: 'Libre Franklin', sans-serif;
}

.topPanelButton {
    line-height: 25px;
}

#dropdown1 {
    width: 200px !important;
    background: #90caf9;
}

.topPanelButtonIcon {
    transform: translateY(16%);
}

.topPanelButton,
#dropdown1 li a {
    font-size: 14px;
    font-family: 'Libre Franklin', sans-serif;
}

.topPanelButton {
    transform: translateY(-20%);
}

#addEntryBtn {
    margin-top: 10px;
}

.eachEntryPanel {
    position: relative;
}

.entryButton {
    position: absolute;
}

.entryItem {
    display: inline-block;
}

.datepicker-date-display {
    background-color: #90caf9 !important;
    color: black !important;
}

.year-text {
    color: black !important;
}

.datepicker-table td.is-today {
    color: #42a5f5 !important;
}

.datepicker-today,
.datepicker-done {
    color: #42a5f5 !important;
}

.datepicker-table td.is-selected {
    background-color: #90caf9;
}

.collapsible-header {
    display: block !important;
}

.note-title-icon {
    transform: translateY(30%);
}


.deleteNote {
    width: 20px;
    margin-right: 10px;
    transform: translateY(-10%);
}

.deleteIcon {
    transform: translateX(-50%);
}

.editNote {
    width: 20px;
    transform: translateY(-10%);
}

.chatNote {
    width: 20px;
    margin-left: 10px;
    transform: translateY(-10%);
}

.chatIcon {
    transform: translateX(-50%);
}

.editIcon {
    transform: translateX(-50%);
}

.collapsible-body {
    word-wrap: break-word;
}

.feedback-div-text {
    width: 400px;
}

.collapsible-body {
    white-space: pre-wrap;
}

.dropdown-content li>a,
.dropdown-content li>span {
    color: black !important;
}

.addNoteFromChat {
    margin-left: 10px;
}

/**************************message.html styling***************************/

.chatTitle {
    font-family: 'Caveat Brush', cursive;
}

.addNoteFromChat {
    height: 28px;
}

.addNoteFromChatText {
    font-size: 12px;
    transform: translateY(-10%);
}

.nameElement {
    font-size: 12px;
}




/*Media Queries*/

@media only screen and (max-width: 600px) and (-webkit-min-device-pixel-ratio: 2) {
    .eachEntryPanel {
        height: 150px;
        text-align: center;
    }

    .entryInfo {
        font-size: 20px;
    }

    .mobileEntryButtons {
        margin-top: 10px;
    }

    .centerMobileButton {
        margin-left: 10px;
        margin-right: 10px;
    }

    .collapsible-header {
        height: 120px;
        text-align: center;
    }

    .note-buttons {
        transform: translateY(90%);
        width: 100%;
        margin: 0 auto;
    }
}
